body {
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-weight: lighter;
  font-size: 16px;
}

h3 {
  font-size: 55px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #f59e0b;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

button {
  background: #f59e0b;
  color: #000;
  border: 2px solid #f59e0b;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}

button#current-location {
  background: #d1d5db;
  border: 2px solid #d1d5db;
}

button:hover {
  opacity: 80%;
}

img {
  width: 100px;
}

ul {
  list-style: none;
  font-weight: lighter;
  padding: 40px 0 0;
  margin: 0;
}

li {
  text-align: right;
}

footer {
  font-size: 12px;
}

.container {
  max-width: 600px;
}

.border {
  background: #fff;
}

.search {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
}

.units {
  position: relative;
  top: -25px;
  font-size: 16px;
}

.col img {
  width: 50px;
  display: inline;
}

.row {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.temperature {
  position: relative;
  top: 10px;
}

.current-temperature {
  margin-bottom: 30px;
}

#weather-type {
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
