body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
}

h1 {
  margin-bottom: 0;
  text-decoration: underline;
  margin: 10px;
}

h2 {
  font-weight: lighter;
  font-size: 16px;
}

h3 {
  font-size: 55px;
  text-align: left;
}

a {
  text-decoration: none;
  color: #f59e0b;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

button {
  background: #f59e0b;
  color: #000;
  border: 2px solid #f59e0b;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}

button#current-location {
  background: #d1d5db;
  border: 2px solid #d1d5db;
}

button:hover {
  opacity: 80%;
}

img {
  width: 100px;
}

ul {
  list-style: none;
  font-weight: lighter;
  padding: 40px 0 0;
  margin: 0;
}

li {
  text-align: right;
}

footer {
  margin: 10px 0;
  font-size: 12px;
}

.container {
  max-width: 600px;
}

.border-3 {
  background: #fff;
  border: 10px solid #f59e0b;
  box-shadow: 5px 5px 10px rgb(148, 148, 148);
}

.search {
  text-align: left;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
}

.units {
  position: relative;
  top: -25px;
  font-size: 16px;
}

.col img {
  width: 50px;
  display: inline;
}

.row {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.temperature {
  position: relative;
  top: 10px;
}

.current-temperature {
  margin-bottom: 30px;
}

.current-temperature .active {
  color: #000;
  cursor: default;
}

.current-temperature .active:hover {
  text-decoration: none;
}

#search-city {
  width: 250px;
}

#weather-type {
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

#weather-type:first-letter {
  text-transform: capitalize;
}
