body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: "Oswald", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 36px;
}

h1 {
  margin-bottom: 0;
  text-decoration: underline;
  margin: 10px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
}

h3 {
  font-size: 55px;
  text-align: left;
  padding-left: 25px;
}

a {
  text-decoration: none;
  color: #f59e0b;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

button {
  background: #f59e0b;
  color: #000;
  border: 2px solid #f59e0b;
  border-radius: 4px;
  transition: all 150ms ease-in-out;
  box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

button#current-location {
  background: #d1d5db;
  border: 2px solid #d1d5db;
}

button:hover {
  opacity: 80%;
}

h3 img {
  width: 100px;
}

ul {
  list-style: none;
  font-weight: 300;
  padding: 40px 30px 0;
  margin: 0;
}

li {
  text-align: right;
}

footer {
  margin: 10px 0;
  padding-left: 3px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
}

.border-3 {
  background: #fff;
  border: 10px solid #f59e0b;
  box-shadow: 5px 5px 10px rgb(148, 148, 148);
  border-radius: 10px;
}

.search {
  text-align: center;
  margin-bottom: 30px;
}

.units {
  position: relative;
  top: -25px;
  font-size: 16px;
}

.temperature {
  position: relative;
  top: 10px;
}

.current-temperature .active {
  color: #000;
  cursor: default;
}

.current-temperature .active:hover {
  text-decoration: none;
}

#search-city {
  width: 250px;
}

#weather-type {
  font-weight: 200;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

#weather-type:first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  font-size: 16px;
  margin: 10px 0 0;
}

.weather-forecast img {
  display: block;
  margin: 0 auto 10px;
}
.weather-forecast-temperature {
  font-weight: 400;
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 50%;
}
